<div class="report">
	<div class="report_banner">
		<p class="report_title">Report a pet</p>
		<img src="assets/report.png" alt="">
	</div>

	<div class="report_main">
		<p class="report_title black">What would you like to report?</p>
		<div class="container">
			<div class="grid">
				<div class="report_detail">
					<p class="title">Missing</p>
					<p style="margin-bottom: 20px;">I am the owner of a missing pet.</p>
					<button class="button">
						<a routerLink="../report">Report Missing</a>
					</button>
				</div>
				<div class="report_detail">
					<p class="title">Found</p>
					<p style="margin-bottom: 20px;">I have found someones pet</p>
					<button class="button">
						<a href="#">Report Found</a>
					</button>
				</div>
				<div class="report_detail">
					<p class="title">Register</p>
					<p style="margin-bottom: 20px;">Register my pet who is safe at home.</p>
					<button class="button">
						<a href="#">Report Missing</a>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>