<div class="footer">
	<div class="container">
		<div class="grid">
			<div style="grid-column: span 4 / span 4; padding: 0 50px">
				<p class="title">CONTACT US</p>
				<p>Email: info@lollypop.org</p>
				<p>Phone: 585-223-1330</p>
				<p class="title">CONNECT WITH US</p>
				<a href="#">Facebook</a>
			</div>

			<div style="grid-column: span 4 / span 4; text-align: center; padding: 0 50px">
				<p>Donate with confidence! Lollypop Farm, the Humane Society of Greater Rochester, is registered as a 501(c)(3) non-profit organization. Contributions to Lollypop Farm are tax-deductible to the extent permitted by law. The tax identification number for The Humane Society of Rochester and Monroe County PCA, Inc. is 16-0743047.</p>
			</div>

			<div style="grid-column: span 4 / span 4; padding: 0 50px">
				<p class="title">GET THE INSIDE SCOOP</p>
				<p>Sign up to receive emails from Lollypop Farm, full of compelling animal stories and news.</p>
				<input type="text">
				<button class="button" style="margin-top: 10px;">
					<span>Subcriber</span>
				</button>
			</div>
		</div>
	</div>
</div>