<div class="header">
	<div class="container">
		<div class="header_main">
			<div class="header_logo">
				<img src="assets/logo.png" alt="">
			</div>
			<div class="header_navbar">
				<ul class="header_navbar-list">
					<li class="header_navbar-link">
						<a routerLink="support">Report a Pet</a>
					</li>
					<li class="header_navbar-link">
						<a routerLink="viewpets">View Pets</a>
					</li>
					<li class="header_navbar-link">
						<a routerLink="">Contact</a>
					</li>
					<li class="header_navbar-link">
						<a routerLink="">Donate</a>
					</li>
					<li class="header_navbar-link">
						<a routerLink="">Help & Advice</a>
					</li>
					<li class="header_navbar-link">
						<a routerLink="registry">Register</a>
					</li>
					<li class="header_navbar-link" *ngIf="!isLogin">
						<a routerLink="login">Login</a>
					</li>
					<li class="header_navbar-link" *ngIf="isLogin">
						<a routerLink="user/dashboard">Dashboard</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
