<div class="login">
	<div class="container">
		<div class="login_form">
			<div style="width: 450px;">
				<div class="login_header">
					<div class="login_header-title">
						Welcome
					</div>
					<div class="login_header-content">
						<p>Please login using the email address and password you entered when signing up.</p>
					</div>
				</div>

				<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
					<div class="form-group">
						<input type="text" placeholder="yourname@gmail.com" formControlName="username">
						<div *ngIf="username.invalid && username.dirty">
							<span *ngIf="username.errors?.required" class="registry_error">Bạn cần phải nhập email</span>
							<span *ngIf="username.errors?.pattern" class="registry_error">Bạn cần nhập đúng định dạng email</span>
						</div>
					</div>
					<div class="form-group">
						<input type="text" placeholder="password" formControlName="password">
						<div *ngIf="password.invalid && password.dirty">
							<span *ngIf="password.errors?.required" class="registry_error">Nhập mật khẩu của bạn</span>
						</div>
					</div>
					<button class="button" type="submit" [disabled]="!loginForm.valid">
						<span>Login</span>
					</button>
				</form>
			</div>
		</div>
	</div>
</div>