<div class="gallery">
	<div class="container">
		<div class="grid">
			<div class="gallery_filter">
				<div class="filter_item">
					<p class="filter_title">Chủng Loại</p>
					<ul>
						<li>Dog</li>
						<li>Cat</li>
						<li>Rabbit</li>
						<li>Bird</li>
						<li>Horse</li>
					</ul>
				</div>

				<div class="filter_item">
					<p class="filter_title">Sắp xếp</p>
					<select name="" id="" style="width: 100%; padding: 10px">
						<option value="">Ngày mất gần nhất</option>
						<option value="">Ngày thêm gần nhất</option>
					</select>
				</div>

				<div class="filter_item">
					<p class="filter_title">Màu Sắc</p>
					<ul>
						<li>Black</li>
						<li>White</li>
						<li>Brown</li>
						<li>ginger</li>
						<li>Horse</li>
					</ul>
				</div>

				<div class="filter_item">
					<p class="filter_title">Giới Tính</p>
					<ul>
						<li>Đực</li>
						<li>Cái</li>
					</ul>
				</div>
			</div>

			<div class="gallery_images">
				<div class="gallery_item">
					<a href="../pet/1">
						<img src="assets/cat.jpg" alt="">
					</a>
					<div class="gallery_item-detail">
						<p style="font-weight: bold;">Missing since Sept. 29, 2021</p>
						<p>Harringay Ladder, London Borough of Haringey, London, City of London, Greater London, England, N8 0AB, United Kingdom</p>
						<p>Color: brown - ginger - white</p>
					</div>
				</div>

				<div class="gallery_item">
					<img src="assets/dog.jpg" alt="">
					<div class="gallery_item-detail">
						<p style="font-weight: bold;">Missing since Sept. 29, 2021</p>
						<p>Harringay Ladder, London Borough of Haringey, London, City of London, Greater London, England, N8 0AB, United Kingdom</p>
						<p>Color: brown - ginger - white</p>
					</div>
				</div>

				<div class="gallery_item">
					<img src="assets/cat1.jpg" alt="">
					<div class="gallery_item-detail">
						<p style="font-weight: bold;">Missing since Sept. 29, 2021</p>
						<p>Harringay Ladder, London Borough of Haringey, London, City of London, Greater London, England, N8 0AB, United Kingdom</p>
						<p>Color: brown - ginger - white</p>
					</div>
				</div>

				<div class="gallery_item">
					<img src="assets/cat.jpg" alt="">
					<div class="gallery_item-detail">
						<p style="font-weight: bold;">Missing since Sept. 29, 2021</p>
						<p>Harringay Ladder, London Borough of Haringey, London, City of London, Greater London, England, N8 0AB, United Kingdom</p>
						<p>Color: brown - ginger - white</p>
					</div>
				</div>
				<div class="gallery_item">
					<img src="assets/dog.jpg" alt="">
					<div class="gallery_item-detail">
						<p style="font-weight: bold;">Missing since Sept. 29, 2021</p>
						<p>Harringay Ladder, London Borough of Haringey, London, City of London, Greater London, England, N8 0AB, United Kingdom</p>
						<p>Color: brown - ginger - white</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>