<div class="gallery">
	<div class="container">
		<div class="grid">
			<div class="gallery_filter">
				<div class="filter_item">
					<p class="filter_title">Chủng Loại</p>
					<ul>
						<li value="Dog">Dog</li>
						<li value="Cat">Cat</li>
						<li value="Rabbit">Rabbit</li>
						<li value="Bird">Bird</li>
						<li value="Horse">Horse</li>
					</ul>
				</div>

				<div class="filter_item">
					<p class="filter_title">Sắp xếp</p>
					<select name="" id="" style="width: 100%; padding: 10px">
						<option value="">Ngày mất gần nhất</option>
						<option value="">Ngày thêm gần nhất</option>
					</select>
				</div>

				<div class="filter_item">
					<p class="filter_title">Màu Sắc</p>
					<ul>
						<li>Black</li>
						<li>White</li>
						<li>Brown</li>
						<li>ginger</li>
						<li>Horse</li>
					</ul>
				</div>

				<div class="filter_item">
					<p class="filter_title">Giới Tính</p>
					<ul>
						<li>Đực</li>
						<li>Cái</li>
					</ul>
				</div>
			</div>

			

			<div class="gallery_container">
				<p style="text-align: center;" *ngIf="!this.totalLength">Không có tin nào hiện tại</p>
				<div class="gallery_images" *ngFor="let item of filterData | paginate: { itemsPerPage: 1, currentPage: page, totalItems: totalLength }">
					<div class="gallery_item">
						<a href="../pet/1">
							<img src={{item.image}} alt="">
						</a>
						<div class="gallery_item-detail">
							<p style="font-weight: bold;">Missing since {{item.date}}</p>
							<p>{{item.describe}}</p>
						</div>
					</div>
				</div>
				<div style="margin-top: 16px;">
					<pagination-controls (pageChange)="page = $event" *ngIf="this.totalLength"></pagination-controls>
				</div>


			</div>
		</div>
	</div>
</div>