<div class="dashboard">
    <div class="dashboard_title">
        <p>Dashboard</p>
    </div>
    <div class="container">
        <div class="grid">
            <div class="dashboard_user">
                <div class="card">
                    <p class="title">Welcome Duc Duc</p>
                    <p><strong>Name: </strong>ducduc</p>
                    <p><strong>Email: </strong>tacongduc123@gmail.com</p>
                    <p><strong>Phone Number: </strong>1 register</p>
                    <button class="button" (click)="onLogout()">
                        <span>Logout</span>
                    </button>
                </div>

                <div class="card">
                    <p class="card_title">Messages</p>
                    <p>No new massgaes</p>
                </div>

                <div class="card">
                    <p class="card_title">Petpatroller</p>
                    <p>Sign up to join the Pet Patrollers</p>
                </div>

                <div class="card">
                    <p class="card_title">Order Status</p>
                    <p>No orders pending</p>
                </div>
            </div>
            <div class="dashboard_post">
                <div class="card">
                    <p class="card_title">My Posts</p>
                    <table class="dashboard_table">
                        <tr>
                            <th class="table_name">Name</th>
                            <th class="table_image">Image</th>
                            <th class="table_area">Area Lost</th>
                            <th class="table_area">Action</th>
                        </tr>
                        <tbody *ngFor="let pet of data">
                            <tr>
                                <td>{{ pet.name }}</td>
                                <td>
                                    <img src="{{ pet.image }}" alt="">
                                </td>
                                <td>{{ pet.area }}</td>
                                <td>
                                    <button class="button" (click)="onDelete(pet._id)">
                                        <span>Delete</span>
                                    </button>
                                </td>
                            </tr>      
                        </tbody>
                        <tr *ngIf="this.totalPet === 0">
                            <p>Bạn chưa đăng tin nào</p>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

